{% extends 'hostelrent/base.html'%}

{% block title %} К оплате {% endblock %}

{% block main %}
<div class="center-div1">
    <div class="center-div2">


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Ви забронювали номер на суму {{ cost }} грн!</h4>
    <p>Дякуємо за ваше замовлення. Тепер вам небхідно підійти протягом дня приїзду, який ви вказали, оплатити номер та отримати від нього ключі.</p>
    <hr>
    <p class="mb-0">Бажаємо вам приємного відпочинку в Vlads Hotel.</p>
  </div>

</div>
</div>
{% endblock%}